# PW SKILLS

## Assignment Questions :

### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
### Answer :

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the 
### variable print it.
### Answer :

In [2]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

series_from_list = pd.Series(my_list)

print(series_from_list)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

### Q3. Create a Pandas DataFrame that contains the following data:
### Name   Age   Gender

### Alice     25     Female
### Bob      30      Male
### Claire   27      Female

### Then, print the DataFrame.
### Answer :

In [3]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
### Answer :

### In Pandas, a DataFrame is a two-dimensional, tabular data structure that is similar to a spreadsheet or a SQL table. It consists of rows and columns, where each column can have a different data type. DataFrames are particularly useful for working with heterogeneous and labeled data.

### On the other hand, a Series is a one-dimensional array-like object in Pandas. It can be thought of as a single column of a DataFrame. A DataFrame is essentially a collection of Series, where each column of the DataFrame is a Series.

### Here's a simple example to illustrate the difference:

In [4]:
import pandas as pd

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}

df = pd.DataFrame(data)

# Creating a Series
ages = pd.Series([25, 30, 27], name='Age')

# Print DataFrame and Series
print("DataFrame:")
print(df)
print("\nSeries:")
print(ages)

DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Series:
0    25
1    30
2    27
Name: Age, dtype: int64

### In this example, df is a DataFrame with columns 'Name', 'Age', and 'Gender', each represented as a Series. The ages Series is extracted from the DataFrame and contains only the 'Age' column. The key difference is that a DataFrame is a two-dimensional structure, while a Series is one-dimensional.

### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can 
### you give an example of when you might use one of these functions?
### Answer :

### Pandas provides a wide range of functions to manipulate data in a DataFrame. Some common functions include:

### 1. head() and tail(): Display the first or last n rows of the DataFrame.

In [ ]:
df.head(3)  # Display the first 3 rows

### 2. info(): Display a concise summary of the DataFrame, including the data types and missing values.

In [ ]:
df.info()

### 3. describe(): Generate descriptive statistics of the DataFrame, such as count, mean, std deviation, min, and max.

In [ ]:
df.describe()

### 4. loc[] and iloc[]: Access a group of rows and columns by label (loc) or integer index (iloc).

In [ ]:
df.loc[0]   # Access the first row
df.iloc[:, 1]   # Access the second column

### 5. drop(): Remove specified labels from rows or columns.

In [ ]:
df.drop('Age', axis=1, inplace=True)  # Remove the 'Age' column

### 6. set_index() and reset_index(): Set the DataFrame index (set_index) or reset it to the default integer index (reset_index).

In [ ]:
df.set_index('Name', inplace=True)  # Set 'Name' column as index
df.reset_index(inplace=True)  # Reset index to default

### 7. filter(): Subset the DataFrame based on conditions.

In [ ]:
females = df[df['Gender'] == 'Female']  # Get rows where Gender is 'Female'

### 8. groupby(): Group rows based on a column and perform aggregate functions.

In [ ]:
gender_group = df.groupby('Gender').mean()  # Calculate mean for each gender group

### 9. sort_values(): Sort the DataFrame by specified columns.

In [ ]:
df.sort_values(by='Age', ascending=False, inplace=True)  # Sort by 'Age' in descending order

### 10. merge(): Merge two DataFrames based on a common column.

In [ ]:
df1 = pd.DataFrame({'Name': ['Alice', 'Bob'], 'Score': [90, 85]})
merged_df = pd.merge(df, df1, on='Name')  # Merge based on 'Name' column

### These are just a few examples of the many functions available in Pandas for data manipulation.

### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
### Answer : In Pandas:

### Series is mutable. You can modify elements, add new elements, or remove existing elements from a Series after it has been created.

### DataFrame is also mutable. You can modify values, add or remove columns, and perform various operations on the DataFrame.

### Panel is deprecated in recent versions of Pandas, and you are encouraged to use MultiIndex DataFrames instead. If you are dealing with three-dimensional data, MultiIndex DataFrames provide similar functionality. Like DataFrames and Series, MultiIndex DataFrames are mutable.

### In summary, both Series and DataFrame are mutable in nature, but Panels are deprecated, and it's recommended to use MultiIndex DataFrames instead.

### Q7. Create a DataFrame using multiple Series. Explain with an example.
### Answer : We can create a DataFrame using multiple Series by combining them into a dictionary where the keys are the column names, and the values are the Series. Here's an example:

In [5]:
import pandas as pd

# Creating multiple Series
names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

# Creating a DataFrame using multiple Series
data = {'Name': names, 'Age': ages, 'Gender': genders}
df = pd.DataFrame(data)

# Printing the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

### In this example, three Series (names, ages, and genders) are created, and then a DataFrame (df) is created by combining these Series into a dictionary. Each Series becomes a column in the DataFrame, and the keys of the dictionary become the column names. The resulting DataFrame has columns 'Name', 'Age', and 'Gender'.